<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to WebChat!
      </h4>

      <p>
        We need to talk. Click on the Room name on left hand side to start chatting! 😊
      </p>
      <hr />
    </div>
  </div>
</div>  
