<p>Hello <%= @user[0].username %>,</p>
<p><%= @total_no_of_msgs_since_last_week %> messages have been exchanged in the last week.</p>
<p><%= @total_no_of_message_since_last_message %> since your last message</p>
<p>Thanks WebChat Team</p>



